.container {
  width: 90%;
}

.card-image img {
  cursor: pointer;
  height: 14em;
  width: auto !important;
  display: block;
  margin: 0 auto;
}

.list-read-time {
  margin-right: 134px;
}

.li-nav-color {
  color: #880037;
}
