.li-article .container {
  width: 90%;
}

#article-li-image img {
  cursor: pointer;
  height: 14em;
  width: auto;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.li-loader .ellipsis {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
