.container {
  width: 90%;
}

.card-image img {
  cursor: pointer;
  height: 14em;
  width: auto !important;
  display: block;
  margin: 0 auto;
}

.li-loader .ellipsis {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
