.relative-div-signIn {
  position: relative;
  height: 681px;
}

.signIn-div-wrapper {
  background-image: url('../../img/landingPageImage.jpeg');
  background-position: center center;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 85px;
  color: black;
}

.signIn-div-wrapper::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.signIn-container {
  width: 60%;
  margin: 0 auto 12% auto;
  position: relative;
  padding: 1% 1%;
  height: 85%;
}

.signIn-wrapper {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  margin-top: 50px;
}

#login input {
  margin-top: 30px;
  width: 90%;
  margin-left: 5%;
}

#login input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
}

.sign-up-alternative-div-signIn {
  font-size: 13px;
  margin-top: -2%;
  text-align: right;
}

.signIn-text {
  font-family: Rosario;
  font-size: 30px;
  color: #880038;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 45px;
}

.signIn-blue {
  color: #03d6f5;
}

.signIn-grey {
  color: #b8b8b8;
}

.input-error {
  border: none;
  border-bottom: 1px solid #f00 !important;
  margin-left: 15px;
  width: 80%;
}

.btn-submit-signIn {
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.btn-submit-signIn:hover {
  cursor: pointer;
}

#button-div {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

#signin-button,
#signin-button:focus {
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background: #03d6f5;
  color: white;
  cursor: pointer;
  box-shadow: none;
  margin-top: 34px;
}

#signin-button:hover {
  background: #03d6f5;
  box-shadow: none;
}

#alternateText {
  color: #686767;
  text-align: center;
}

#auth-facebook-logo,
#auth-twitter-logo,
#auth-googleplus-logo {
  width: 70px;
  height: 70px;
}

#signin-form .ellipsis {
  transform: scale(0.9);
  margin-top: -20px;
}
