.reset-password-container {
  position: relative;
  max-width: 60%;
  margin: auto;
  margin-bottom: 620px;
}

.reset-password {
  position: absolute;
  margin: auto;
  margin-bottom: 350px;
}

.reset-page-title {
  max-width: 70%;
  min-width: 150px;
}

.reset-page-title h2 {
  font-weight: 550;
  font-size: 2.2em;
  color: #212121;
}

.reset-text {
  margin-top: 2.5em;
  margin-bottom: 2em;
  margin-left: 0.4em;
}

#resetEmail {
  border-radius: 25px;
  border: 1px solid #7e354d4d;
  padding: 17px;
  width: 80%;
  height: 0.1em;
}

#resetEmail:hover,
#resetEmail:focus {
  box-shadow: none;
  border: 1px solid #7e354d;
}

.reset-button,
.reset-button:focus {
  width: 90px;
  border-radius: 25px;
  background: #7d1738;
  box-shadow: none;
  margin-left: 0;
  margin-top: 7px;
}

.reset-button:hover {
  background: #610a25;
  box-shadow: none;
}

.ellipsis {
  margin-top: -70px;
  margin-right: 75%;
  transform: scale(0.9);
}
