.signup-box {
    position: absolute;
    width: 780px;
    height: 344px;
    left: 290px;
    top: 278px;
    background: #ffffff;
}

.signup-text {
    position: absolute;
    width: 86px;
    height: 37px;
    left: 619px;
    top: 294px;
    font-family: Rosario;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    color: #880038;
}

.button-close {
    position: absolute;
    width: 86px;
    height: 37px;
    left: 619px;
    top: 294px;
    font-family: Rosario;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    color: #880038;
}

.button-facebook {
    position: absolute;
    width: 125px;
    height: 17px;
    left: 376px;
    top: 328px;
    font-family: Sansita;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}

.button-twitter {
    position: absolute;
    width: 106.82px;
    height: 34px;
    left: 383.73px;
    top: 394px;
    font-family: Sansita;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}

.button-google {
    position: absolute;
    width: 114.3px;
    height: 17px;
    left: 380.16px;
    top: 459px;
    font-family: Sansita;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}
