.btncolor {
  background-color: #5ed3f1;
}

.btncolor:hover {
  background-color: #880038;
}

#bio {
  color: #666;
  line-height: 25px;
  margin-top: 0.5em;
  letter-spacing: 2px;
}

.headlines {
  color: #4e443c;
  text-transform: none;
  font-weight: bolder;
  margin-bottom: 0;
  text-shadow: 1px 1px 1px #000;
  letter-spacing: 5px;
}

#topArticles {
  color: #666;
  line-height: 25px;
  margin-top: 0.5em;
  letter-spacing: 2px;
}

#topArticles a {
  color: #666;
}

#shift {
  margin-left: 4.7%;
}

#shiftupdate {
  width: 30%;
  margin-left: 11%;
}

#centralize {
  width: 100%;
  margin-left: 20%;
}
