.btncolor {
  background-color: #5ed3f1;
}

.btncolor:hover {
  background-color: #880038;
}

#bio {
  color: #666;
  line-height: 25px;
  margin-top: 0.5em;
}

.headlines {
  color: black;
  text-transform: none;
  margin-bottom: 0;
  letter-spacing: 1px;
  font-family: Lato;
  font-style: normal;
  font-size: 22px;
}

.headlinesProfile {
  text-shadow: 1px 1px 1px #000;
  color: black;
  font-weight: bolder;
  text-transform: none;
  margin-bottom: 0;
  letter-spacing: 2px;
  font-family: Lato;
  font-style: normal;
  font-size: 22px;
}

#topArticles {
  color: #666;
  line-height: 25px;
  margin-top: 0.5em;
  letter-spacing: 2px;
}

#topArticles a {
  color: #666;
}

#shift {
  margin-left: 4.7%;
  margin-top: 10%;
}

#shiftupdate {
  width: 30%;
  margin-left: 11%;
}

#centralize {
  width: 100%;
  margin-left: 20%;
  margin-top: 40%;
}

.color-ions {
  color: #880038;
}

.modal .modal-content {
  margin: 10% auto;
}

form {
  margin-top: -15px;
}

.from-top {
  margin-top: 5%;
}

.move-top {
  margin-top: -23px;
}

.move-top2 {
  margin-top: -17%;
}
