.new-password-container {
  position: relative;
  max-width: 60%;
  margin: auto;
  margin-bottom: 620px;
}

.new-password {
  position: absolute;
  margin: auto;
  margin-bottom: 350px;
}

.new-password-page-title {
  max-width: 80%;
  min-width: 150px;
}

.new-page-title h2 {
  font-weight: 800;
  font-size: 2.2em;
  color: #212121;
}

.new-password-text {
  margin-top: 2.5em;
  margin-bottom: 1em;
  margin-left: 0.4em;
}

#newPasswordForm {
  margin-top: -25px;
}

#newPassword,
#rePassword {
  border-radius: 25px;
  border: 1px solid #7e354d4d;
  padding: 17px;
  width: 80%;
  height: 0.1em;
}

#newPassword {
  margin-bottom: -20px;
}

#newPassword:hover,
#newPassword:focus,
#rePassword:hover,
#rePassword:focus {
  box-shadow: none;
  border: 1px solid #7e354d;
}

.new-password-button,
.new-password-button:focus {
  width: 90px;
  border-radius: 25px;
  background: #7d1738;
  box-shadow: none;
  margin-left: 0;
  margin-top: 7px;
}

.new-password-button:hover {
  background: #610a25;
  box-shadow: none;
}

.new-password .ellipsis {
  margin-top: -70px;
  margin-right: 75%;
  transform: scale(0.9);
}

.passwordMismatchText {
  color: red;
  opacity: 0.5;
  animation: opacityOn 5s normal forwards step-end;
}

.new-password #succesText {
  font-size: 1.5em;
}

@keyframes opacityOn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
