.profile-btncolor {
  background-color: #5ed3f1;
}

.profile-Eclipsloader .ellipsis {
  height: 125px;
  size: 70px;
  margin-left: 35px;
}

.profile-Eclipsloader2 .ellipsis {
  height: 170px;
  size: 70px;
  margin-top: -7%;
  margin-left: 155px;
}

.profile-button-container {
  width: 100%;
  margin-left: -3px;
  display: flex;
  justify-content: space-around;
}

#profile-buttondiv {
  border-radius: 4px;
  border: none;
  margin-top: 20px;
  margin-left: 10px;
}

.profile-sucessMessage2 {
  margin-left: 4px;
}

.profile-sucessMessage3 {
  margin-left: 14%;
  margin-top: -70%;
}

#profile-submitDiv {
  padding: 5.1px;
  border-radius: 4px;
  margin-top: 15px;
}

#img {
  width: 50%;
  padding-top: 10%;
}

form,
.file-field {
  width: 100%;
}

.profile-btncolor:hover {
  background-color: #880038;
}

#profile-bio {
  color: #666;
  line-height: 25px;
  margin-top: 0.5em;
}

.profile-headlines {
  color: black;
  text-transform: none;
  margin-bottom: 0;
  letter-spacing: 1px;
  font-family: Lato;
  font-style: normal;
  font-size: 22px;
}

.profile-headlinesProfile {
  text-shadow: 1px 1px 1px #000;
  color: black;
  font-weight: bolder;
  text-transform: none;
  margin-bottom: 0;
  letter-spacing: 2px;
  font-family: Lato;
  font-style: normal;
  font-size: 22px;
}

#profile-topic {
  margin-left: 22px;
}

#profile-topArticles {
  color: #666;
  line-height: 25px;
  margin-top: 0.5em;
  letter-spacing: 2px;
  margin-left: 22px;
}

#profile-topArticles a {
  color: #666;
}

#profile-shift {
  margin-left: 4.7%;
  margin-top: 10%;
}

#profile-shiftupdate {
  width: 40%;
  margin-left: 13%;
}

#profile-centralize {
  width: 100%;
  margin-left: 20%;
  margin-top: 5%;
}

.profile-color-ions {
  color: #880038;
}

.modal .modal-content {
  margin: 10% auto;
}

form {
  margin-top: -15px;
}

.profile-from-top {
  margin-top: 5%;
}

.profile-move-top2 {
  margin-top: 1%;
}

.profile-move-top {
  margin-top: -23px;
}

.profile-horizontalrule {
  margin-top: -30%;
  margin-left: 22px;
}

@media only screen and (max-width: 990px) {
  .profile-horizontalrule {
    display: none;
  }

  #profile-details {
    text-align: center;
  }

  .profile-move-top2 {
    text-align: center;
  }

  #profile-shift {
    margin-left: 41%;
    margin-top: 1%;
  }

  #profile-shiftupdate {
    width: 40%;
    margin-left: 20%;
  }

  #profile-centralize {
    width: 100%;
    margin-left: 20%;
    margin-top: 30%;
  }
}

@media only screen and (max-width: 500px) {
  .card .card-image {
    height: 500px;
  }

  #profile-bio {
    margin-top: 10em;
  }

  #profile-details {
    text-align: center;
  }

  #profile-shift {
    margin-left: 32%;
    margin-top: 1%;
  }

  #profile-shiftupdate {
    width: 40%;
    margin-left: 18%;
  }

  #profile-centralize {
    width: 100%;
    margin-left: 20%;
    margin-top: 15%;
  }
}
